@font-face {
  font-family: "Albert Sans";
  src: url("fonts/AlbertSans-Italic.ttf") format("truetype");
  font-weight: 800; 
  font-style: normal;
}

@font-face {
  font-family: "Helios Extended";
  src: url("fonts/HeliosExt.otf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roca Black";
  src: url("fonts/Roca Black.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

h2 {
    font-family: "Roca Black";
    font-weight: bold;

}

.calories-input {
  background-color: transparent;
  border: none;
  border-bottom: 2px solid #000;
  width: 80%;
  padding: 6px;
  font-family: "Helios Extended", sans-serif;
  font-weight: bold;
  font-size: 50px;
  text-align: center;
  outline: none;
  margin-top: 60px;
}

.calories-input::placeholder {
  color: #aaa;
  font-weight: normal;
  font-size: 16px;
}


/*generate button*/
.generate-button {
  background-color: #badbf1;      
  color: white;                   
  border: none;                   
  height: 60px;
  width: 250px;
  border-radius: 50px;            
  padding: 20px;            
  font-family: "Helios Extended", sans-serif; 
  font-size: 16px;                
  cursor: pointer;                
  transition: background-color 0.3s ease;  
}

.generate-button:hover {
  background-color: #1f5c99;      
}

.back-button {
  background-color: #badbf1;      
  color: white;                   
  border: none;                   
  height: 50px;
  width: 150px;
  border-radius: 50px;            
  padding: 10px;            
  font-family: "Helios Extended", sans-serif; 
  font-size: 14px;                
  cursor: pointer;                
  transition: background-color 0.3s ease;  
}

.back-button:hover {
  background-color: #1f5c99;      
}


.card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-width: 5px;
}

.card-box {
  position: relative;
  width: 250px;
  height: 250px;
  border: 1px solid #000;
  border-radius: 20px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-category {
  font-family: "Roca Black", serif;
  font-size: 25px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
  color: #000;
}

.card-name {
  font-family: "Helios Extended", sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 10px;
  text-align: center;
  color:#000;
  
}

.card-image {
  width: 100px;
  height: 100px;
  object-fit: contain;
  padding: 20px;
}

/* for moving between icons */
.next-button {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  /* background-color: #fff; */
  border: 1px solid #ccc;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
  display: flex;
  align-items: center;   /* vertically centers text and icon */
  gap: 5px;   
}